<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Update</title>
</head>
<body>
	<div layout:fragment="content" class="container my-3">
		<div class="my-3 border-bottom">
			<div>
				<h4>회원정보 수정</h4>
			</div>
		</div>
		<form th:action="@{/user/modify}" th:object="${userCreateForm}" method="post">
			<div th:replace="~{form_errors :: formErrorsFragment}"></div>
			<div class="mb-3">
				<label for="username" class="form-label">사용자 ID</label>
				<input type="text" readonly="readonly" th:field="*{username}"
				th:value="*{username}" class="form-control">
			</div>
			<div class="mb-3">
				<label for="password1" class="form-label">비밀번호</label>
				<input type="password" th:field="*{password1}" class="form-control">
			</div>
			<div class="mb-3">
				<label for="password2" class="form-label">비밀번호 확인</label>
				<input type="password" th:field="*{password2}" class="form-control">
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">email</label>
				<input type="email" th:field="*{email}" th:value="*{email}" class="form-control">
			</div>
			<div class="col-6">
				<button type="submit" class="btn btn-primary">수정</button>
				<a th:href="@{/user/delete}" class="delete_user btn btn-primary">탈퇴</a>	
			</div>
		</form>
	</div>
	<script layout:fragment="script" type='text/javascript'>
		const delete_elements = document.getElementsByClassName("delete_user");
		Array.from(delete_elements).forEach(function(element) {
			element.addEventListener('click', function() {
				if(confirm("정말 탈퇴하시겠습니까?")) {
					location.href = this.dataset.uri;
				};
			});
		});
</script>
</body>
</html>