<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
<meta charset="utf-8">
<title></title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	
        $('.dragdiv').slick({
        	slide: 'div',		//슬라이드 되어야 할 태그 ex) div, li 
        	initialSlide : 0,
        	adaptiveHeigh : true, // 슬라이더 높이를 현재 슬라이드에 맞춤
			infinite : true, 	//무한 반복 옵션	 
			slidesToShow : 1,		// 한 화면에 보여질 컨텐츠 개수
			slidesToScroll : 1,		//스크롤 한번에 움직일 컨텐츠 개수
			speed : 100,	 // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
			arrows : false, 		// 옆으로 이동하는 화살표 표시 여부
			dots : true, 		// 스크롤바 아래 점으로 페이지네이션 여부
			autoplay : false,			// 자동 스크롤 사용 여부
			autoplaySpeed : 10000, 		// 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
			pauseOnHover : true,		// 슬라이드 이동	시 마우스 호버하면 슬라이더 멈추게 설정
			vertical : false,		// 세로 방향 슬라이드 옵션
			prevArrow : "<button type='button' class='slick-prev'>Previous</button>",		// 이전 화살표 모양 설정
			nextArrow : "<button type='button' class='slick-next'>Next</button>",		// 다음 화살표 모양 설정
			dotsClass : "slick-dots", 	//아래 나오는 페이지네이션(점) css class 지정
			draggable : true, 	//드래그 가능 여부 
			
			responsive: [ // 반응형 웹 구현 옵션
			     {  
			            breakpoint: 960, //화면 사이즈 960px
			            settings: {
			              //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
			              slidesToShow:1
			      		}
			     },
			]

        });
        $('.dragdiv').on('wheel', function(e) {
        	
        	  e.preventDefault();

        	  if (e.originalEvent.deltaY < 0) {
        	    $(this).slick('slickPrev');
        	  } else {
        	    $(this).slick('slickNext');
        	  }
        	  
        });
        
        $(".first").load("firstPage.html #firstPageContent");
        $(".second").load("joinMember.html #secondPageContent");
        //$(".fourth").load("youtubeContent.html #youtubeContent");
        
        $('.dragdiv').slick('refresh');
        
});
</script>
</head>
<body>
	<div class="category" style="width:100%;height:10vh"></div>
    <div class="dragdiv" style="background-color: skyblue;">
    	    <div class="first"></div>
            <div class="second"></div>
            <div class="third"><iframe class="myReactPage" src="http://localhost:3000/#/node/home" width="100%" height="600vh"></iframe></div>
            <div class="fourth"><iframe class="myPage" src="http://localhost:8081/youtubeContent.html" width="100%" height="600vh"></iframe></div>
            <div>5</div>
    </div>
</body>
</html>